.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 214, 252, 0.7), rgba(0, 0, 0, 0.5)),
    url('./img/pexels-joshkjack-135020.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}


/* To_Do_List */


.to-do-list{
  max-width: 500px;
  font-family: 'Cascadia Code', monospace;
  text-align: center;
  
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 50px rgba(0,0,0,0.1);
  position: relative;       
}

.h1{
  font-size: 4rem;
  position: fixed;
}

button{
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-btn{
  background-color: rgb(0, 199, 0);
  margin-left: 0.5rem;
}

.add-btn:hover{
  background-color:rgb(0, 146, 0) ;
}

.delete-btn{
  background-color: rgb(236, 0, 0);
}

.delete-btn:hover{
  background-color:rgb(146, 0, 0) ;
}

.move-btn{
  background-color: rgb(0, 17, 255);
}

.move-btn:hover{
  background-color:rgb(0, 10, 148);
}

input[type="text"]{
  font-size: 0.8rem;
  padding: 10px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 5px;
  color: rgb(27, 27, 27);
}

ol{
  padding: 0;
  max-height: 200px;
  overflow-y: auto;  
  padding-right: 10px;
  scroll-behavior: smooth;
}

.task-list {
  max-height: 250px;       
  overflow-y: auto;        
  margin-top: 20px;
  padding-right: 10px;
}

li{
  font-size: 0.8rem;
  font-weight: bold;
  padding: 15px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 208, 0);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 300px;
}

.text{
  flex: 1;
}

.delete-btn,.move-btn{
  padding: 8px;
  font-size: 0.8rem;
  margin-left: 10px;
}

/* Phone size */
@media (max-width: 400px) {
  .to-do-list {
    border: none;
    border-radius: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;                       
    height: 500px;    

    display: flex;
    flex-direction: column;
    overflow: hidden;
  
  }

  li{
    width: 100%;
    max-width: 250px; 
    margin: auto;
    align-items: center;
    position:relative;
    margin-bottom: 10px;
  }
}
